# PlatformIO and Arduino build files
.pio/
*.bin
*.elf
*.hex
*.o
*.a

# Python Virtual Environment
venv/
*.pyc
__pycache__/

# Project Data and logs
*.csv
*.log
*.tmp

# Operating System files
.DS_Store
Thumbs.db
